footer {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
	margin-top: 80px;
	bottom: 0;
	color: #fff;
  }
  
  article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block;
  }
    

  
	  