.navbar {
    background-color: #292c2f !important;
}

.dropdown-menu {
    background-color: #292c2f !important;
    color: white;
}

.dropdown {
    color: white;
}

.dropdown-item {
    color: white;
}

.logoHeader {
    width: 150px;
    padding: 0px;
    margin: 0px;
    margin-right: 10px;
}

.logoHeader img {
    width: 100%;
}
