

.form-card{
    max-width:1400px;
    padding:50px 45px;
    padding-top: 20px;
    background-color:#F7F7F7;
    margin:0 auto 25px;
    margin-top:10px;
    border-radius:2px;
    box-shadow:10px 20px 20px rgba(0, 0, 0, 0.3);
}

.cuadro-tabla{
    width: 16%;
    height: 50px;
}




